astroid==1.5.3
beautifulsoup4==4.4.1
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
cssutils==1.0.2
cycler==0.10.0
dateparser==0.7.0
enum34==1.1.6
future==0.16.0
gunicorn==19.9.0
idna==2.7
imutils==0.4.5
isort==4.2.15
lazy-object-proxy==1.3.1
lxml==4.2.3
matplotlib==2.0.2
mccabe==0.6.1
mortgage==1.0.2
numpy==1.13.1
opencv-python==3.4.0.12
pandas==0.23.1
py-moneyed==0.7.0
py-mortgagekit==1.0.3b1
pycaption==1.0.1
pylint==1.7.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
regex==2018.7.11
requests==2.19.1
scikit-learn==0.18.2
six==1.10.0
tzlocal==1.5.1
urllib3==1.24.2
virtualenv==16.0.0
wrapt==1.10.10
